{% extends "base.html" %}
{% block content %}
  <div class="container-fluid p-5 text-white text-center pcolor">
    <h1>Management panel</h1>
  </div>

  <div class="container">
    <div class="login col-8 mt-5">
      <div class="row text-center bg-white">
        <div class="col-8 col-md-7 col-lg-5 col-xl-4 mx-auto">
          <img class="w100 clockzy-logo" src="{{ url_for('static', filename='images/clockzy_logo.png') }}"/>
        </div>
      </div>
      <div class="row pcolor p-2">
        <form class="text-center" method="POST" action="/check_credentials">
          <div class="row">
            <div class="col-12 offset-lg-1 col-lg-4 mt-2">
              <input type="text" class="w100" placeholder="Enter user ID" name="user_id">
            </div>
            <div class="col-12 col-lg-4 mt-2">
              <input type="password" class="w100" placeholder="Enter password" name="password">
            </div>
            <div class="col-12 col-lg-2 mt-2">
              <button type="submit" class="w100 float-md-left btn btn-primary">Submit</button>
            </div>
          </div>
        </form>
      </div>
      {% if error is defined %}
      <div class="alert alert-danger mt-3">
        <strong>Error:</strong> {{ error }}
      </div>
      {% endif %}
    </div>
  </div>
{% endblock %}
