
<!-- UPDATE CLOCKING MODAL -->
<div class="modal" id="modal_edit_data">
  <div class="modal-dialog">
    <div class="modal-content">

    <!-- Modal Header -->
    <div class="modal-header background-pcolor cwhite">
      <h4 class="modal-title">Edit clock data</h4>
      <button type="button" class="btn-close bg-white" data-bs-dismiss="modal"></button>
    </div>

    <!-- Modal body -->
    <div id="update_clocking_modal_body" class="modal-body">
      <div class="row">
        <div id="input_datetime_edit_clocking" class="offset-1 offset-md-0 col-11 col-md-6 ">
          <input type="text" name="date_time" id="datetime_edit_clocking" class="w90" placeholder="date_time"/>
        </div>
        <div class="offset-1 offset-md-0 col-11 col-md-4 mt-2 mt-md-0">
          <select name="action" id="action_edit_clocking">
            <option id="option_IN" value="IN">IN</option>
            <option id="option_PAUSE" value="PAUSE">PAUSE</option>
            <option id="option_RETURN"value="RETURN">RETURN</option>
            <option id="option_OUT"value="OUT">OUT</option>
          </select>
        </div>
        <input type="hidden" id="clocking_id_edit_clocking"/>
      </div>
    </div>

    <!-- Modal footer -->
    <div class="modal-footer">
      <button type="button" id="button_update_clocking" class="btn btn-success d-flex mx-auto">Update</button>
    </div>
    </div>
  </div>
</div>

<!-- ADD CLOCKING MODAL -->
<div class="modal" id="modal_add_clocking_data">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header background-pcolor cwhite">
        <h4 class="modal-title">Add clock data</h4>
        <button type="button" class="btn-close bg-white" data-bs-dismiss="modal"></button>
      </div>

      <!-- Modal body -->
      <div id="add_clocking_modal_body" class="modal-body">
        <div class="row">
          <div id="input_datetime_edit_clocking" class="offset-1 offset-md-0 col-11 col-md-6 ">
            <input type="text" name='date_time' id="datetime_add_clocking" placeholder="yyyy-mm-dd hh:mm:ss"/>
          </div>
          <div class="offset-1 offset-md-0 col-11 col-md-4 mt-2 mt-md-0">
            <select name="action" id="action_add_clocking">
              <option value="IN">IN</option>
              <option value="PAUSE">PAUSE</option>
              <option value="RETURN">RETURN</option>
              <option value="OUT">OUT</option>
            </select>
          </div>
        </div>
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" id="button_add_clocking" class="btn btn-success d-flex mx-auto">Add</button>
      </div>
    </div>
  </div>
</div>

<!-- DELETE CLOCKING MODAL -->
<div class="modal" id="modal_delete_clocking_data">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header background-pcolor cwhite">
        <h4 class="modal-title">Delete clock data</h4>
        <button type="button" class="btn-close bg-white" data-bs-dismiss="modal"></button>
      </div>

      <!-- Modal body -->
      <div id="delete_clocking_modal_body" class="modal-body">
        <p>Are you sure to delete this clock?</p>
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" id="button_delete_clocking_yes" class="btn btn-success d-flex mx-auto">Yes</button>
        <button type="button" id="button_delete_clocking_no" class="btn btn-danger d-flex mx-auto" data-bs-dismiss="modal">Cancel</button>
      </div>
    </div>
  </div>
</div>
