
body {
    background-color: #F8F8F8;
}

a {
    text-decoration: none;
}

table {
    font-family: arial, sans-serif;
    border-radius:6px;
    width: 100%;
  }

th {
    padding: 8px;
    text-align: left;
    color: white;
    background-color: #14255C;
    border: 1px solid #14255C;
}

tr:nth-child(even) {
    background-color: #dddddd;
  }

td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 6px;
}

.login {
    background-color: white;
    border-radius: 5px;
    margin: 0 auto;
    padding: 2px;
}

.pcolor {
    background-color: #14255C;
}

.cwhite {
    color:white;
}

.bg-white {
    background-color: white;
}

.background-pcolor {
    background-color: #14255C
}

.logout {
    color: #dc3545;
    font-size: large;
}

.logout:hover {
    text-decoration: underline;
}

.user-id {
    color: #0d6efd;
    font-size: large;
}

.m0auto {
    margin:0 auto;
}

#input_datetime_edit_clocking {
    float: left;
    margin-right: 3px;
}

#button_delete_clocking_yes{
    padding-left: 22px;
    padding-right: 22px;
}

#search_input {
    width: 50%;
    margin: 0 auto;
    padding: .375rem .75rem;
    font-size: 1rem;
    border: 1px solid #ced4da;
    border-radius: .25rem;
}

.w100 {
    width: 100%;
}

.w90 {
    width: 90%;
}

@media only screen and (min-width: 992px){
    .mv1{
        float:right
    }
    .float-md-left{
        float:left
    }
}
